extends layout

block content
  h1= 'Create Comment'
  form(action="/api/comment",method="post")
    div.input
      span.label Username:
      input(type="text",name="username",placeholder="Username")
    div.input
      span.label Body:
      input(type="text",name="body",placeholder='Body')
    div.actions
      input(type="submit", value="Create Comment")
